#banner {
    width: 100%;
}

#textosobre {
    font-family: 'Times New Roman', Times, serif;
    background: #CCCCCCCC;
    padding: 30px;
    margin-top: 5px;
}

.titulo-principal {
    padding-left: 20px;
}

.titulo-centralizado {
    text-align: center;
}

p {
    text-align: center;
}

strong {
    color: rgb(122, 8, 229);
}

#missao {
    font-size: 20;
}

#caixabeneficios {
    background: white;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
}

.listabeneficios {
    font-style: italic;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

#imagembeneficios {
    width: 50%;
    height: 60%;
}